NODE_ENV=development #development, production
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/outreach"
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
BASE_URL="http://localhost:3000"

ADMIN_EMAIL=

OPENAI_API_KEY=
DEEPSEEK_API_KEY=
ANTHROPIC_API_KEY=